<section class="mini-header">
	<button class="storm">pause the storm</button>
	<nav>
		<a href="/about">About.</a>
	</nav>	
</section>

<div class="end story-text">
	<h2>Thank you for playing <%= current_user.name %>!</h2>
	<p>Your character, <span>Detective <%= @character.name %></span>, <%= @ending.content %></p>
	<p>Feel free to check out the leaderboard and then try again.</p>
</div>

<form class="end-button" action="/ending/<%= @segment.story_id%>/<%= @character.id %>/edit" method="post">
<input type="hidden" name="_method" value="put">
	<button>Add your ending to the leaderboard!</button>
</form>