<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
		<a href="/">Home.</a>
	</nav>	
</section>

Thank you for playing <%= current_user.name %>!

Your character, Detective <%= @character.name %>, <%= @ending.content %>

<form action="/ending/<%= @segment.story_id%>/<%= @character.id %>/edit" method="post">
	<input type="hidden" name="_method" value="put">
	<button>Go to the leaderboard.</button>
</form>