<section class="mini-header">
	<nav>
		<a href="/about">About</a>
		<a href="/">Home</a>
	</nav>	
</section>

<main class="story">

	<aside>
		<h2>About you:</h2>
		<p>Detective <%= @character.name %></p>
		<p><%= @character.background %></p>
	</aside>

	<section>
		<p class="story-text"><%= @segment.content %></p>
		<% @segment.options.each do |option| %>
			<a href="/segments/<%= option[1] %>"><%= option[0] %></a>
		<% end %>
	</section>

</main>