<% if logged_in? == false %>
	<div class="login">
		<div>
			<button class="storm">pause the storm</button>
			<a href="/login">Login.</a>
		</div>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<form action="/session" method="post">
  		<input type="hidden" name="_method" value="delete">
	  		Currently investigating as Detective <%= @character.name %>, <%= @character.background %>
	  		<button>Logout</button>
	  	</form>
	  	<button class="storm">pause the storm</button>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
		<a href="/">Home.</a>
	</nav>	
</section>

<main class="story">
	<section>
		<p class="story-text"><%= @segment.content %></p>
		
		<div class="options">
			<% @segment.options.each do |option| %>	
				<a href="/segments/<%= option[1] %>"><%= option[0] %></a>
			<% end %>
		</div>
	</section>
</main>